.padding-on-header {
    padding-left: .3em;
    padding-bottom: 2.5em;
}

.image-container-position {
    top: 3.7em;
}

.card-body-position {
    padding-top: 6.5em;
}

.edit-icon-width {
    width: 1em;
    cursor: pointer;
}